<mat-toolbar color="my-primary">
    <mat-toolbar-row>
        <span style="color: #fff;">Forgot Password?</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
    <form [formGroup]="forgotPasswordForm">
        <div class="form-group">

            <mat-form-field appearance="outline">
                <mat-label>Email: </mat-label>
                <input matInput type="text" formControlName="email" required>
                <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                   <span *ngIf="forgotPasswordForm.controls.email.errors?.required">email is Mandatory</span>
                   <span *ngIf="forgotPasswordForm.controls.email.errors?.pattern">Invalid email</span>
                </mat-error>
            </mat-form-field>
            
          
        </div>
    </form>
   
</mat-dialog-content>
<mat-dialog-actions style="justify-content: center;">
    <button mat-raised-button color="my-primary1" [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)" (click)="getPassword()">Get Password</button>
    <button mat-raised-button color="dialog-close" mat-dialog-close>Cancel</button>
</mat-dialog-actions> 


